apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: rqz4zfys5-java-springboot
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/rhtap-qe-java-springboot:030dccdd035ca1c04ee6eda2498e16cf81efea05@sha256:cbd71e5ee0811e4755d8271a32d790ac0d8a3019dbf9a3a122b487064ee5752a
          name: container-image
