apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:         
  argocd/app-name: rqz4zfys5-java-springboot
  janus-idp.io/tekton: rqz4zfys5-java-springboot
  backstage.io/kubernetes-id: rqz4zfys5-java-springboot
  backstage.io/kubernetes-namespace: rhtap-app 
  app.kubernetes.io/part-of: rqz4zfys5-java-springboot
resources:
  - deployment.yaml
  - route.yaml
  - service.yaml
